/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.hoy{font-weight: bold;}
.yiiTab div.view{min-height: 200px;overflow: hidden;}

.paneles > div {margin: .6em;}

.texto-limitado{ float: left; width: 80%;}
.counter { float: left; font-size: 1.3em; color: #7e7e7e; margin-bottom: 9px; margin-left: 2%; width: 18%; }
.counter span { font-style: italic; font-size: 1.5em; line-height: 1.55em; color: #a99bb1; }

.counter span.warning { color: #b66875; }

.button-column{ max-width: 90px; min-width: 80px; }
.filters input{width: 100% !important;}

.controls.imagen{border-bottom: thin dashed #AAA;padding-bottom: 10px;}

.ui-sortable .sort{cursor: pointer;}