*.tmp
*.bak
*.swp
*~.nib
*.spc

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Sublime
*.sublime-project
*.sublime-workspace

# YII
#Elimino estos directorios y les agrego un .gitignore para no tener que crearlos manualmente
#archivos/
#protected/runtime/
themes/classic/views/

# node.js
node_modules/
